<div class="chat-header">
  <div class="left-header">
    <div class="header-title">
      Joekbearについて
    </div>
  </div>
  <div class="right-header">
    <div class="header-button">
      <a href="#">チャットを終了する</a>
    </div>
  </div>
</div>

<div class="messages">
  <div class="message">
    <div class="upper-message">
      <div class="message-user">
        Joekbear
      </div>
      <div class="message-date">
        2020/12/11(Fri) 19:04:12
      </div>
    </div>
    <div class="lower-message">
      <div class="message-content">
        へちゃ
      </div>
    </div>
  </div>

  <div class="message">
    <div class="upper-message">
      <div class="message-user">
        impara
      </div>
      <div class="message-date">
        2020/12/11(Fri) 19:06:12
      </div>
    </div>
    <div class="lower-message">
      <div class="message-content">
        買った方が早インパラ
      </div>
    </div>
  </div>
</div>

<div class="form">
  <div class="form-input">
    <input class="form-message" placeholder= "type a message">
    <label class="form-image">
      <span class="image-file">画像</span>
      <input type="file" class="hidden">
    </label>
  </div>
  <input class="form-submit" type="submit" value="送信">
</div>